<!-- Page Headings Start -->
<div class='row justify-content-between align-items-center mb-10'>
  <!-- Page Heading Start -->
  <div class='col-12 col-lg-auto mb-20'>
    <div class='page-heading'>
      <h3 class='title'>
        مطالب
        <span>
          / ویرایش مطلب
        </span>
      </h3>
    </div>
  </div>
  <!-- Page Heading End -->

  <!-- Page Button Group End -->
</div>
<!-- Page Headings End -->

<div class='row mbn-30'>
  <!-- Revenue Statistics Chart Start -->
  <div class='col-md-12 mb-30'>
    <div class='box'>
      <div class='box-head'>
        <div class='row'>
          <h4 class='title'>
            اطلاعات مطلب
          </h4>
        </div>
      </div>
      <div class='box-body'>
        <form method='POST' action="/admin/posts/update/{{post.id}}" enctype="multipart/form-data">
          {{#if hasError}}
            <div class='alert alert-outline-secondary' role='alert'>
              {{#each errors}}
                <p>
                  {{this}}
                </p>
              {{/each}}
            </div>
          {{/if}}
          <div class='row mbn-20'>
            <div class='col-12 mb-20'>
              <input
                name='title'
                value="{{post.title}}"
                type='text'
                id='formLayoutUsername3'
                class='form-control'
                placeholder='عنوان مطلب'
              />
            </div>
            <div class='col-12 mb-20'>
              <input
                name='slug'
                value="{{post.slug}}"
                type='text'
                id='formLayoutEmail3'
                class='form-control'
                placeholder='نامک مطلب'
              />
            </div>

            <div class='col-12 mb-20'> 
              <textarea 
                id="textareaa"
                name='content'
                id='formLayoutMessage1'
                class='form-control'
                placeholder='محتوای مطلب'
              >
                {{post.content}}
              </textarea>
            </div>

            <div class='col-12 mb-20'>
              <h6 class='mb-15'>
                وضعیت مطلب
              </h6>
              <div class='form-group'>
                <label class='inline'>
                  <input name='status' value='0' type='radio' {{#IsPostStatus 0}}checked{{/IsPostStatus}}/>
                  پیش نویس
                </label>
                <label class='inline'>
                  <input name='status' value='2' type='radio' {{#IsPostStatus 2}}checked{{/IsPostStatus}}/>
                  منتشرشده
                </label>
                <label class='inline'>
                  <input name='status' value='1' type='radio' {{#IsPostStatus 1}}checked{{/IsPostStatus}}/>
                  در حال بازبینی
                </label>
              </div>
            </div>

            <div class='col-12 mb-15'>
              <select name='author' class='form-control'>
                  {{#each users}}
                      <option value="{{this.id}}" {{#IsPostAouthor this.id}}selected{{/IsPostAouthor}}>{{this.full_name}}</option>
                    {{/each}} 
              </select>
            </div>

            <div class="col-12 mb-15">
                <label for="thumbnail"> تصویر پست </label>
                <input type="file" name="thumbnail" id="thumbnail" class="form-control">
            </div>

            <div class='col-12 mb-20'>
              <input
                type='submit'
                value='ذخیره سازی'
                class='button button-primary'
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Revenue Statistics Chart End -->
</div>